<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibrarySystem.Properties.Settings.LibSysConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\LibSys.accdb"
            providerName="System.Data.OleDb" />
        <add name="LibrarySystem.Properties.Settings.masterConnectionString"
            connectionString="Data Source=DESKTOP-96R3VE0\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>